<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norsmither</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/img/favico.co/3b08004ccf4a0114585b.jpg">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <div>
                <img class="slider" src="../public/assets/img/slider/norsmither_resize.png" alt="Norsmither">
            </div>
            <div class="menu">
                <h1 id="color-menu" class="title-menu js-click-menu">MENU</h1>
            </div>
            <div class="form-menu js-menu">
                <div class="form-container form-all-close">
                    <div class="form-close js-click-close">
                        <i class="ti-close"></i>
                    </div>
                    <div class="form-header">
                        <h1>MENU</h1>
                    </div>
                    <div class="form-option">
                        <ul>
                            <li class="home js-home"><a href="#header">Home</a></li>
                            <li class="introduce js-introduce"><a href="#introduce">Introduce</a></li>
                            <li class="product js-video"><a href="#video">Videos</a></li>
                            <li class="product js-track"><a href="#track">Tracks</a></li>
                            <li class="contact js-contact"><a href="#contact">Contact</a></li>
                            <li class="contact js-social"><a href="#footer">Social</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="haha">
                <div id="successfully" class="noti-success no-mess">
                    <i class="ti-check"></i>
                    <p class="message-noti">Your changes has ben successed!</p>
                </div>
            </div>
            <div class="hihi">
                <div id="fail" class="noti-fail no-mess">
                    <i class="ti-close"></i>
                    <p class="message-noti">Try again!</p>
                </div> -->
            </div>
        </div>
        <div id="content">
            <!-- Giới thiệu -->
            <div class="content-section" id="introduce">
                <h2 class="section-heading">INTRODUCE</h2>
                <p class="section-sub-heading">Norsmither</p>
                <p class="introduce-content">
                    Hi everyone, I'm Norsmither. The purpose of creating this website is to introduce myself as well as introduce music-related activities that I will launch in the near future: product launch time, promotion, system list the latest great songs, post the latest demos, etc. and much more coming in the future. Coming soon!
                    <br>Let me introduce a little about myself, my real name is Dinh Tan Khanh, born in 2000, HCM city, Viet Nam. I graduated from Van Lang University, majoring in Software Engineering. In addition to being a programming engineer, I also have a passion for music. I can sing, compose and produce music. Through my work as a software developer, I created my own website to present my dream. I want to show people what I can do with music as well as software programming. I thought it was a good idea and now it's come true.
                    <br>Since this is my first time developing my own project, everything will be constantly updated to become more complete. Hope this website will be enjoyed by everyone and give many comments to improve it in the future.
                    <br>In conclusion, thank you very much for visiting this site. Please contact me if you have some ideas about music or software programming work.
                </p>
            </div>
            <!-- Sản phẩm -->
            <div class="content-video" id="video">
                <h2 class="section-product-video">CHECK OUT OUR LATEST VIDEO ON YOUTUBE!</h2>
                <!-- <video class="video-content" src="./assets/video/KMDBX.mp4" controls></video> -->
                <iframe class="video-content" width="762" height="443" src="https://www.youtube.com/embed/GjhjOwGKLsM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="content-track" id="track">
                <h2 class="section-product-audio">CHECK OUT OUR LATEST TRACKS</h2>
                <!-- <audio class="audio-content" src="./assets/audio/sadboizseeting.mp3" controls></audio> -->
                <h3 class="desc-track">Tam Biet Em (rap version)</h3>
                <iframe class="audio-content" width="300" height="200" scrolling="no" frameborder="no" allow="autoplay"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1276216885&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </div>
        </div>
        <!-- Liên hệ -->
        <div id="contact">
            <div class="contact-section">
                <h2 class="contact-heading">CONTACT US</h2>
                <div class="contact-form">
                    <div class="input info">
                        <p><i class="ti-location-pin"></i>Ho Chi Minh City, VN</p>
                        <p><i class="ti-mobile"></i>+84 908 779 245</p>
                        <p><i class="ti-email"></i>dinhtankhanh14@gmail.com</p>
                    </div>
                    <div class="input form-email">
                        <form action="https://formsubmit.co/daa32bbe702a3c8a2971c431ed8e187b" method="POST">
                            <div class="input-name">
                                <input type="text" name="name" placeholder="Name" required id="form" class="form-control">
                            </div>
                            <div class="input-phone">
                                <input type="tel" name="phone" pattern="[0-9]{10}" placeholder="Phone" required id="form" class="form-control">
                            </div>
                            <div class="input-email">
                                <input type="email" name="email" placeholder="Email" required id="form" class="form-control">
                            </div>
                            <div class="input-message">
                                <!-- <textarea name="" placeholder="Message" required id="" cols="30" rows="30" class="form-control"></textarea> -->
                                <input type="text" name="message" placeholder="Message" id="form" class="form-control">
                            </div>
                            <input class="submit-send" type="submit" value="SEND">
                            <input class="onload" type="hidden" name="_next" value="http://127.0.0.1:5500/views/thankyouPage.html">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="social">
                    <h2 class="social-heading">SOCIAL</h2>
                <div class="social-list">
                    <a href="https://www.facebook.com/hihihahahuhuhohohehe" target="_blank"><i class="ti-facebook"></i></a>
                    <a href="https://www.instagram.com/nrsmthrmusic/" target="_blank"><i class="ti-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCmywsPEdo4Bo3AZbSy0z6dg" target="_blank"><i class="ti-youtube"></i></a>
                </div>
                <div class="copyright">
                    <p class="copy">Copyright © 2020 Norsmither - All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>
</html>